p {
    text-align: left;
    font-size: 14px;
    color: #20d6c7;
}

.auth_lg {
    text-align: left;
    font-size: 14px;
    color: #20d6c7;
}

.url_prof {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    line-height: 12px;
}